body {
    margin: 60px auto;
    width: 70%;
    background-color: rgb(100,100,100);
    color: white;
}

a {
    text-decoration: none;
}
a:link { color: rgb(200,200,76); }
a:visited { color: rgb(200,200,76); }
a:active { color: rgb(200,200,76); }
a:hover { color: rgb(200,200,76); }

a:hover {
    text-decoration: underline;
}

nav a:link { color: white; }
nav a:visited { color: white; }
nav a:active { color: white; }
nav a:hover { color: white; }


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1em;
    color: white;
    max-width: 600px;
}

td {
    max-width: 600px;
    vertical-align: top;
}

footer {
    border-top: 1px solid #ffffff;
    font-size: .8em;
}

div.blurb {
    border-bottom: 1px solid #ffffff;
}

ul li {
    max-width: 600px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}
