---
layout: default
---

<header>
  {% if page.title-short %}
  <h2 class="page-title">{{ page.title-short }}</h1>
{% else %}
<h2 class="page-title">{{ page.title }}</h1>
{% endif %}
</header>

{% assign pdfname = page.ref-id | append: ".pdf" %}
{% for static_file in site.static_files %}
    {% if static_file.name == pdfname %}
        {% assign pdffile = true %}
    {% endif %}
{% endfor %}

<div class="centered-links" style="text-align:center">
  {% if pdffile %}
  <a href="/assets/publications/pdf/{{ page.ref-id }}.pdf">PDF</a>
  {% assign found = 1 %}
  {% endif %}
  {% if page.DOI %}
  {% if found %} &middot; {% endif %}
  <a href="https://doi.org/{{ page.DOI }}">DOI</a>
  {% assign found = 1 %}
  {% endif %}
  {% if found %} &middot; {% endif %}  
  <a href="/assets/publications/bib/{{ page.ref-id }}.bib">BIB</a>
  {% assign found = 1 %}
  {% if page.paper_code_repo %}
  {% if found %} &middot; {% endif %}    
  <a href="{{ page.paper_code_repo }}">Code</a>
  {% endif %}
  
</div>

<div class="abstract">
  {% if page.abstract %}
  <h3>Abstract</h3>
  {{ page.abstract }}
  {% endif %}
</div>

<div class="info">
  <h3>Info</h3>
  <ul>
    {% if page.title-short %}
    <li> Full title: {{ page.title }} </li>
    {% endif %}
    {% if page.author %}
    <li> {% if page.author.size == 1 %}Author: {% else %}Authors: {% endif %}{% for auth in page.author %}
      {{ auth.given }} {{ auth.family }}{% if forloop.last == false %}, {% endif %}
      {% endfor %} </li>
    {% endif %}
    {% if page.year %}
    <li> Year: {{ page.year }} </li>
    {% endif %}
    {% if page.container-title %}
    <li> Appears in {{ page.container-title }}.
      {% if page.volume %}Volume {{ page.volume }}.{% endif %}
      {% if page.issue %}Issue {{ page.issue }}.{% endif %}
      {% if page.page %}Pages {{ page.page }}.{% endif %}
    </li>
    {% endif %}
  </ul>
</div>

<div class="content">
  {{ content }}
</div>
